.second{
    display: flex;
    justify-content: center;
}
.info{
    margin-left: 20px;
}



//https://yeko90.tistory.com/entry/css-%EA%B8%B0%EC%B4%88-width-auto-%EC%99%80-width-100-%EC%B0%A8%EC%9D%B4
//https://hansolcha.tistory.com/4
//https://velog.io/@jsw9330/Element-%EC%9D%B4%EB%8F%99%EA%B3%BC-%EC%95%A0%EB%8B%88%EB%A9%94%EC%9D%B4%EC%85%98-%EB%B0%98%EC%9D%91%ED%98%95-%EC%9B%B9
//https://yzink.tistory.com/102
//https://velog.io/@dosilv/React-mountunmount-%EC%8B%9C-%EC%95%A0%EB%8B%88%EB%A9%94%EC%9D%B4%EC%85%98-%EC%A3%BC%EA%B8%B0