#categoryButton{
  padding: 10px 80px;
  margin:10px 10px;
  background-color: rgb(105, 107, 110);
  color: #fff;
  border-radius: 20px;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  text-decoration: none;
  display:inline-block;
  border:none
}

#categoryButton::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #000;
    -webkit-transform: scaleY(.3);
    transform: scaleY(.3);
    opacity: 0;
    transition: all .3s
}

#categoryButton:hover{
    color:black;  
}
#categoryButton:hover::before{
    opacity: 1;
    background-color: white;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    transition: -webkit-transform .6s cubic-bezier(.08, .35, .13, 1.02), opacity .4s;
    transition: transform .6s cubic-bezier(.08, .35, .13, 1.02), opacity
}


#test{
       animation: fadein 1s;
       
       -webkit-animation: fadein 1s;
       animation-delay: 0.1s;
       &:hover{
        bottom: 10px;
}     
}


@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


@-webkit-keyframes fadein { 
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



.header{
    width: 100%;
    height: 20vh;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pont{
    text-align: center;
    color: white;
}