#categoryButton{
    padding: 15px 100px;
  margin:10px 4px;
  background-color: lightgray;
  color: #fff;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  text-decoration: none;
  display:inline-block;
  border:none
}

#categoryButton::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #000;
    -webkit-transform: scaleY(.3);
    transform: scaleY(.3);
    opacity: 0;
    transition: all .3s
}

#categoryButton:hover{
    color:black;  
}
#categoryButton:hover::before{
    opacity: 1;
    background-color: white;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    transition: -webkit-transform .6s cubic-bezier(.08, .35, .13, 1.02), opacity .4s;
    transition: transform .6s cubic-bezier(.08, .35, .13, 1.02), opacity
}