.profilePont{
//     border:1px solid transparent; 
//     -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
//    transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
   margin:120px 12%;
   text-decoration: 'none';
    font-size: 50px;
    color: grey;
    border-bottom:1px solid gray;
}